/**
Note
1.line-clamp dont support in IOS Safari
*/

ul,li{padding: 0;margin:0;list-style: none;}
a{color: #333}
a:focus, a:hover {color: #333; text-decoration: none; }
.btn.focus, .btn:focus, .btn:hover {color: #fff; text-decoration: none; }
input[type=radio]{margin: 0}

.font-bold{font-weight: 500}
.fs-16{font-size: 16px}
.block{display: block;}
.m-b-15{margin-bottom: 15px}
.m-t-15{margin-top: 15px!important}
.m-r-15{margin-right: 15px}
.p-t-15{padding-top: 15px}
.m-t-50{margin-top: 50px}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {color: #337ab7; border: 0;}
.text-ellipsis{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.text-white{color: #fff}
.navbar-fixed-top .title{line-height: 27px}
.navbar-wrapper .navbar{color: #fff;background: #e13a42}
.navbar-fixed-top h4.title{line-height:26px}
.navbar-fixed-top a{position: absolute;top: 0;color: #fff}
.navbar-fixed-top .btn-left{left: 0}
.navbar-fixed-top .btn-right{right: 0}

.breadcrumb{padding: 8px 5px}
input[type="time"]{width: 100%}

.btn-spa{background: #704a3f;color: #fff}

.header-info{position: relative;padding-top: 10px;background: #337ab7;color: #fff;background: url(../images/header-bg.png) 0 0 no-repeat;height: 148px;background-size: 100% 100%;-webkit-background-size: 100% 100%;}

.header-img{-webkit-border-radius: 50%;width: 64px;height: 64px;margin: 0 auto 5px;border: 2px solid #fff;}
.header-info .glyphicon{position: absolute; top: 50%; right: 15px;}

/*style for list*/
.spa-list li{padding-top: 10px;border-bottom: 1px solid #eee;position: relative;padding-bottom: 10px;}
.spa-list li a{display: block;}
.spa-list .media:first-child {margin-top: 0; }
.spa-list img{width: 45px;height: 45px}
.spa-list .status,.spa-list .time{position: absolute;right: 0;top: 5px;z-index: 998;font-size: 16px}
.spa-list .status{top: 35px;font-size: 12px}
.spa-list .desc{margin-bottom: 0;width: calc(100% - 90px);width: -webkit-calc(100% - 90px);}
.spa-group .desc{margin-bottom: 0;width: 100%;}

.fixed-navbar{background: #fff; width: 100%; position: fixed;bottom: 0;left: 0;z-index: 999;line-height: 35px}
.fixed-navbar .row>div{border-right: 1px solid #f9f9f9}
.fixed-navbar a{display: block;padding: 5px 0; text-align: center;color: inherit;font-weight: 500}
.fixed-navbar a.active{color: #337ab7}
.fixed-navbar span.glyphicon{font-size: 12px}


/*style for account*/
.account{background: #f9f9f9}
.account .glyphicon{font-size: 20px}
.account .list-item{overflow: hidden;background: #fff;position: relative;border-top: 1px solid #ddd;}
.account .list-item ul>li{float: left;width:calc(100% / 3);width: -webkit-calc(100% / 3);border-right:1px solid #ddd;border-bottom: 1px solid #ddd;}
.account .list-item ul>li>a{display: block; padding: 15px;color: #704a3f}
.account .line{position: absolute;background: #fff;}
.account .bottom-line{bottom: 0;left: 0;width: 100%;height: 1px;}
.account .right-line{top: 0;right: 0;height: 100%;width: 1px;}
.account .list-item .glyphicon{display: block;margin-bottom: 10px}
.account .list-item ul>li.clear-line{border-right: 0}
.vip-account .header-info .media{padding-top: 5px; background: url(../images/vip.png) 0 0 no-repeat;background-size: 100%;border-radius: 5px;-webkit-border-radius: 5px; width: 80%;position: absolute;top: 10px;left: 10%;height: 155px}
.vip-account .header-info{margin-bottom: 45px}
.vip-account .shop-name{border-top: 1px solid #d42f37;color: #ffd75e;text-align: center;padding-top: 5px;}

/*style for profile*/
[class ^= "profile"] .form-horizontal .control-label{padding-top: 7px;text-align: right;}
.profile .form-group{margin-bottom: 0}


/*style for booking succeeded*/
.booking-succeeded{color: #704a3f;margin: 50px}
.booking-succeeded p{width: 106px;height: 104px;margin: 20px auto; background: url(../images/success.jpg) 0 0 no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;}

.revenue-info .btn-group .active{background: #704a3f;color: #fff}
.revenue-info .revenue-img{margin: 30px auto; height: 210px;background: url(../images/revenue.png) center 0 no-repeat;background-size: contain;-webkit-background-size:contain;}
.revenue-info .list{overflow: hidden;}
.revenue-info .list>li{width: 50%;float: left;text-align: left;text-indent: 1em}
.revenue-info .list>li:before{display: inline-block;content: '';width: 10px;height: 10px;background: #ff3052;margin-right: 10px}
@media screen and (max-width: 320px){
	.revenue-info .list>li{width: 90%;margin: 0 auto;float: none;}
}









